html {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}


body {

    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 600px;
    background-color: rgb(59, 54, 54);
}

.iamgesize {
    height: 80px;
    width: 86px;
    padding: 1px;

}

.matrix {
    display: grid;
    grid-template-columns: 90px 90px 90px;
}

.score {
    color: red;
    font-size: xx-large;
}